.button
{
	background-color: #1a5478;
	color: white
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.cell{
  border: 1px solid black;
  text-align: center;
  flex-basis: 14.289%;
  max-width: 14.289%;
  
  flex-wrap: wrap;
  
  height: 125px;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-tap-highlight-color: #0000;
}